<div class></div>

<%= form_tag controller: :account_books, action: :create do %>
	<div class='form-group'>
		<%= text_field_tag :name, '',placeholder: 'Name', class: 'form-control'  %>
	</div>
	<%= render 'select_box' %>
	<div class='form-group'>
		<%= text_field_tag :amount, '', placeholder: 'Amount', class: 'form-control'  %>
	</div>
	<div class='form-group'>
		<%= text_area_tag :comment, '', placeholder: 'Comment', class: 'form-control'  %>
	</div>
	<div class='form-actions'>
	<%= submit_tag "Create account record", class: 'btn btn-primary'%>
	</div>
<% end %>

