<div class="row">
	<div class= "landing-left col-sm-3">
		<%= render 'account_form'%>
	</div>
	<div class="landing-right col-sm-9">
		<div class="user-table">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="user-info">
						<%= image_tag @user["profile_image_url"] %>
						<p><%= @user["name"] %></p>
					</div>
					<div class="user-record">
						<p>Input count <%= @user["input_count"] %></p>
						<p>Day count <%= @user["day_count"] %></p>
						<p>Repeat count <%= @user["repeat_count"] %></p>
					</div>
				</li>
			</ul>
		</div>
		<div>
			<ul class="account-record-list list-group">
				<% @payment_records.each do |payment_record| %>
					<li class="list-group-item">
						<div class="row">
						<div class="col-sm-4"><%= payment_record["name"] %></div>
						<div class="col-sm-1">&yen;<%= payment_record["amount"] %></div>
						<div class="col-sm-4"><%= payment_record["place"] %></div>
						<div class="col-sm-2"><%= payment_record["date"] %></div>
						<div class="col-sm-1">
							<%= link_to account_book_path(payment_record["id"]), method: :delete do %>
								<i class="fas fa-trash-alt text-secondary"></i>
							<% end %>
						</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
