<!DOCTYPE html>
<html>
  <head>
    <title>Kakeibo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%= render 'shared/header' %>
  <div class="container h-100">
    <%= yield %>
  </div>
  <% if flash.any? %>
    <script type="text/javascript">
    <% flash.each do |key, value| %>
      <% type = key.to_s.gsub("alert", "error").gsub("notice", "success") %>
      toastr.<%= type %>('<%= value %>')
    <% end %>
    </script>
  <% end %>
  </body>
</html>
